@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

$family-sans-serif: 'Roboto';

$section-padding: 2rem 1rem;

$blue: #2196f3;
$red: #ef5350;

$indigo: #1565c0;
$indigo-invert: findColorInvert($indigo);
$indigo-light: findLightColor($indigo);
$indigo-dark: findDarkColor($indigo);

$custom-colors: (
    "indigo": ($indigo, $indigo-invert, $indigo-light, $indigo-dark),
);

$primary: $blue;
$danger: $red;

@import 'bulma/sass/utilities/initial-variables';

$body-background-color: $white-ter;
$menu-item-hover-background-color: $grey-lighter;

@import "bulma";

.mainfeaturelink {
    padding-bottom: 2rem;
}

.main-notification {
    display: none;
    position: fixed;
    right: 2em;
    bottom: 2rem;
    width: 50rem;
}

.main-notification--show {
    display: block;
}

.navbar-dashboard {
    margin-bottom: $gap;
}

.dashboard-summary {
    margin-bottom: $gap;

    .title {
        font-weight: 200;
    }

    .subtitle {
        font-weight: bold;
    }
}

.brand-text {
    font-weight: bold;
}

.table-course__name {
    width: 200px;
}

.linkblock {
    background-color: $table-background-color;

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: $table-cell-border;
        border-width: $table-cell-border-width;
        padding: 0.5em 1em;
        color: $table-color;

        div {
            &:first-child {
                flex-basis: 25%;
                flex-grow: 0;
            }

            flex-grow: 1;
        }

        &::after {
            content: '\f054';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            flex-grow: 0;
            color: $grey;
        }

        &:hover {
          background-color: $table-row-hover-background-color
        }
    }
}

.button.is-circled {
    padding: 0;
    width: $size-1;
    height: $size-1;
    border-radius: 50%;
}

.dashboard-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    &--course {
        padding: 0;

        margin-bottom: 1.5rem;
    }
}
