@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

$family-sans-serif: 'Roboto';

$blue: #2196f3;
$red: #f44336;

$indigo: #1565c0;
$indigo-invert: findColorInvert($indigo);
$indigo-light: findLightColor($indigo);
$indigo-dark: findDarkColor($indigo);

$custom-colors: ("indigo": ($indigo, $indigo-invert, $indigo-light, $indigo-dark));

$primary: $blue;
$danger: $red;

@import "bulma";

.mainfeaturelink {
    padding-bottom: 2rem;
}

.main-notification {
    display: none;
    position: fixed;
    right: 2em;
    bottom: 2rem;
    width: 50rem;
}

.main-notification--show {
    display: block;
}
